[package]
name = "shp-constants"
description = "A collection of constants used in StorageHub's runtime."
version = "0.3.2"
homepage = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
    "sp-runtime/runtime-benchmarks",
]
std = [
    "sp-core/std",
    "sp-runtime/std",
]
try-runtime = [
    "sp-runtime/try-runtime",
]
