[package]
name = "sh-msp-backend"
version = "0.3.5"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
axum = { workspace = true }
clap = { workspace = true }
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["full"] }
toml = { workspace = true }
tracing = { workspace = true }

# Local dependencies
sh-msp-backend-lib = { path = "../lib" }

[features]
default = []
mocks = ["sh-msp-backend-lib/mocks"]
