[package]
name = "sh-msp-backend"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "backend"
path = "src/main.rs"

[dependencies]
# Local dependencies
sh-msp-backend-lib = { path = "../lib" }

# Workspace dependencies
tokio = { workspace = true, features = ["full"] }
axum = { workspace = true }
toml = { workspace = true }
serde = { workspace = true, features = ["derive"] }
anyhow = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }

# CLI
clap = { workspace = true }

[features]
default = ["mocks"]
mocks = ["sh-msp-backend-lib/mocks"]
