services:
  sh-bsp:
    image: storage-hub:local
    container_name: storage-hub-sh-bsp-1
    platform: linux/amd64
    ports:
      - "9666:9944"
      - "30350:30350"
      - "9615:9615"
    volumes:
      - ./dev-keystores/bsp:/keystore:rw
    command:
      [
        "--dev",
        "--provider",
        "--provider-type=bsp",
        "--max-storage-capacity=4294967295",
        "--jump-capacity=1073741824",
        "--name=sh-bsp",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30350",
        "--rpc-cors=all",
        "--node-key=0x2e6e3670c96202a2d6f5a58b7ac9092c5a51e0250f324eec2111ca94f5e568be",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
      ]
  sh-user:
    image: storage-hub:local
    platform: linux/amd64
    container_name: storage-hub-sh-user-1
    ports:
      - "9888:9944"
      - "30444:30444"
      - "9618:9615"
    volumes:
      - ./dev-keystores/user:/keystore:rw
      - ./resource:/res:ro
    command:
      [
        "--dev",
        "--name=sh-user",
        "--provider",
        "--provider-type=user",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30444",
        "--rpc-cors=all",
        "--node-key=0x13b3b1c917dda506f152816aad4685eefa54fe57792165b31141ac893610b314",
        "--bootnodes=/ip4/${BSP_IP:-default_bsp_ip}/tcp/30350/p2p/${BSP_PEER_ID:-default_bsp_peer_id}",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
      ]

  toxiproxy:
    image: shopify/toxiproxy
    container_name: toxiproxy
    ports:
      - "8474:8474"
      - "30350:30350"
    volumes:
      - ./toxiproxy.json:/etc/toxiproxy.json
    command: -config /etc/toxiproxy.json -host=0.0.0.0
    networks:
      storage-hub-network:
        aliases:
          - toxiproxy

  sh-prometheus:
    image: prom/prometheus:latest
    container_name: storage-hub-sh-prometheus-1
    platform: linux/amd64
    ports:
      - "9099:9090"
    volumes:
      - ./bspnet-prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-lifecycle"

  sh-grafana:
    image: grafana/grafana:latest
    container_name: storage-hub-sh-grafana-1
    platform: linux/amd64
    ports:
      - "3030:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - sh-prometheus