services:
  sh-bsp:
    image: storage-hub:local
    container_name: storage-hub-sh-bsp-1
    platform: linux/amd64
    ports:
      - "9666:9944"
      - "30350:30350"
      - "9615:9615"
    volumes:
      - ./dev-keystores/bsp:/keystore:rw
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--provider",
        "--provider-type=bsp",
        "--max-storage-capacity=4294967295",
        "--jump-capacity=1073741824",
        "--name=sh-bsp",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30350",
        "--rpc-cors=all",
        "--node-key=0x2e6e3670c96202a2d6f5a58b7ac9092c5a51e0250f324eec2111ca94f5e568be",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
      ]
  sh-msp-1:
    image: storage-hub:local
    container_name: storage-hub-sh-msp-1
    platform: linux/amd64
    ports:
      - "9777:9944"
      - "30555:30350"
      - "9616:9615"
      - "7070:7070"
    volumes:
      - ./dev-keystores/msp:/keystore:rw
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--provider",
        "--provider-type=msp",
        "--max-storage-capacity=4294967295",
        "--jump-capacity=1073741824",
        "--name=sh-msp-1",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30350",
        "--rpc-cors=all",
        "--node-key=${NODE_KEY}",
        "--bootnodes=/ip4/${BSP_IP:-default_bsp_ip}/tcp/30350/p2p/${BSP_PEER_ID:-default_bsp_peer_id}",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
        "--msp-charging-period=12",
        "--msp-distribute-files",
        "--trusted-file-transfer-server",
        "--trusted-file-transfer-server-host=0.0.0.0",
      ]
  sh-msp-2:
    image: storage-hub:local
    container_name: storage-hub-sh-msp-2
    platform: linux/amd64
    ports:
      - "9778:9944"
      - "30556:30350"
      - "9617:9615"
      - "7071:7070"
    volumes:
      - ./dev-keystores/msp-two:/keystore:rw
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--provider",
        "--provider-type=msp",
        "--max-storage-capacity=4294967295",
        "--jump-capacity=1073741824",
        "--name=sh-msp-2",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30350",
        "--rpc-cors=all",
        "--node-key=${NODE_KEY}",
        "--bootnodes=/ip4/${BSP_IP:-default_bsp_ip}/tcp/30350/p2p/${BSP_PEER_ID:-default_bsp_peer_id}",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
        "--msp-charging-period=12",
        "--msp-distribute-files",
        "--trusted-file-transfer-server",
        "--trusted-file-transfer-server-host=0.0.0.0",
      ]
  sh-user:
    image: storage-hub:local
    platform: linux/amd64
    container_name: storage-hub-sh-user-1
    ports:
      - "9888:9944"
      - "30444:30444"
      - "9618:9615"
    volumes:
      - ./dev-keystores/user:/keystore:rw
      - ./resource:/res:ro
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--name=sh-user",
        "--provider",
        "--provider-type=user",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30444",
        "--rpc-cors=all",
        "--node-key=0x13b3b1c917dda506f152816aad4685eefa54fe57792165b31141ac893610b314",
        "--bootnodes=/ip4/${BSP_IP:-default_bsp_ip}/tcp/30350/p2p/${BSP_PEER_ID:-default_bsp_peer_id}",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
      ]

  sh-fisherman:
    image: storage-hub:local
    container_name: storage-hub-sh-fisherman-1
    platform: linux/amd64
    ports:
      - "9999:9944"
      - "30666:30666"
      - "9619:9615"
    volumes:
      - ./dev-keystores/fisherman:/keystore:rw
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--name=sh-fisherman",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30666",
        "--rpc-cors=all",
        "--node-key=0x23b3b1c917dda506f152816aad4685eefa54fe57792165b31141ac893610b315",
        "--bootnodes=/ip4/${BSP_IP:-default_bsp_ip}/tcp/30350/p2p/${BSP_PEER_ID:-default_bsp_peer_id}",
        "--keystore-path=/keystore",
        "--sealing=manual",
        "--base-path=/data",
        "--fisherman",
        "--fisherman-database-url=postgresql://postgres:postgres@storage-hub-sh-indexer-postgres-1:5432/storage_hub",
        "--fisherman-batch-interval-seconds=5",
      ]

  sh-indexer:
    image: storage-hub:local
    container_name: storage-hub-sh-indexer-1
    platform: linux/amd64
    ports:
      - "9800:9944"
      - "30777:30777"
      - "9620:9615"
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--name=sh-indexer",
        "--no-hardware-benchmarks",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--port=30777",
        "--rpc-cors=all",
        "--node-key=0x33b3b1c917dda506f152816aad4685eefa54fe57792165b31141ac893610b316",
        "--bootnodes=/ip4/${BSP_IP:-default_bsp_ip}/tcp/30350/p2p/${BSP_PEER_ID:-default_bsp_peer_id}",
        "--sealing=manual",
        "--base-path=/data",
        "--indexer",
        "--indexer-database-url=postgresql://postgres:postgres@storage-hub-sh-indexer-postgres-1:5432/storage_hub",
      ]

  sh-indexer-postgres:
    image: postgres:15
    container_name: storage-hub-sh-indexer-postgres-1
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=storage_hub
    ports:
      - "5432:5432"

  sh-pending-postgres:
    image: postgres:15
    container_name: storage-hub-sh-pending-postgres-1
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=pending_tx
    ports:
      - "5433:5432"

  sh-backend:
    image: sh-msp-backend:local
    container_name: storage-hub-sh-backend-1
    platform: linux/amd64
    environment:
      - RUST_LOG=info
      - JWT_SECRET
    command:
      [
        "--host",
        "0.0.0.0",
        "--port",
        "8080",
        "--rpc-url",
        "ws://storage-hub-sh-msp-1:9944",
        "--database-url",
        "postgresql://postgres:postgres@storage-hub-sh-indexer-postgres-1:5432/storage_hub",
        "--msp-callback-url",
        "http://storage-hub-sh-backend-1:8080",
        "--msp-trusted-file-transfer-server-url",
        "http://storage-hub-sh-msp-1:7070",
      ]
    ports:
      - "8080:8080"

  toxiproxy:
    image: shopify/toxiproxy
    container_name: toxiproxy
    ports:
      - "8474:8474"
      - "30350:30350"
    volumes:
      - ./toxiproxy.json:/etc/toxiproxy.json
    command: -config /etc/toxiproxy.json -host=0.0.0.0
    networks:
      storage-hub-network:
        aliases:
          - toxiproxy

  sh-prometheus:
    image: prom/prometheus:latest
    container_name: storage-hub-sh-prometheus-1
    platform: linux/amd64
    ports:
      - "9099:9090"
    volumes:
      - ./fullnet-prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-lifecycle"

  sh-grafana:
    image: grafana/grafana:latest
    container_name: storage-hub-sh-grafana-1
    platform: linux/amd64
    ports:
      - "3030:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - sh-prometheus
