services:
  storage-hub-node:
    image: moonsonglabs/storage-hub:latest
    platform: linux/amd64
    ports:
      - "9944:9944"
    command:
      [
        "--dev",
        "--network-backend", "libp2p",
        "--unsafe-rpc-external",
        "--rpc-cors=all",
        "--no-hardware-benchmarks",
      ]
