name: Upgrade TypeScript API

on:
  workflow_dispatch:
    inputs:
      sha:
        description: Full SHA to build the pnpm package from
        required: true

# TODO: When we start publishing runtimes, change steps to fetch from docker instead
jobs:
  upgrading-typescript-api:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.sha }}
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Use pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rust-lang/setup-rust-toolchain@v1.8
        with:
          cache: false
      - uses: rui314/setup-mold@v1
      - uses: ./.github/workflow-templates/setup-pnpm
      - name: Install libpq-dev
        run: sudo apt-get update && sudo apt-get install -y libpq-dev
      - name: Install Protoc
        run: |
          PROTOC_VERSION=28.3
          curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v${PROTOC_VERSION}/protoc-${PROTOC_VERSION}-linux-x86_64.zip"
          unzip -q "protoc-${PROTOC_VERSION}-linux-x86_64.zip" -d $HOME/.local
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          rm "protoc-${PROTOC_VERSION}-linux-x86_64.zip"
      - name: Build All
        run: cargo build --release
      - name: Check Built By Mold
        run: readelf -p .comment target/release/storage-hub-node
      - name: Regenerate TypeScript API with new runtime metadata
        run: |
          pnpm i 
          cd test
          pnpm typegen
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          base: master
          branch: 'typescript-api-${{ github.event.inputs.sha }}'
          commit-message: typescript API v0.${{ github.event.inputs.sha }}.0
          draft: true
          title: 'Upgrade TypeScript API for runtime-${{ github.event.inputs.sha }}'
          reviewers: 'moonsong-coredev'
          labels: 'B0-silent,D2-notlive'
