name: Lint and Format

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      pull_request:
        description: set to pull_request number to execute on external pr
        required: false

jobs:
  check-rust-fmt:
    name: "Check format with rustfmt"
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1.8
      - name: Rustfmt Check
        run: cargo fmt --all -- --check

  check-rust-lint:
    name: "Check lint with clippy"
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1.8
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Install libpq-dev
        run: sudo apt-get update && sudo apt-get install -y libpq-dev
      - name: Install Protoc
        run: |
          PROTOC_VERSION=33.2
          curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v${PROTOC_VERSION}/protoc-${PROTOC_VERSION}-linux-x86_64.zip"
          unzip -q "protoc-${PROTOC_VERSION}-linux-x86_64.zip" -d $HOME/.local
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          rm "protoc-${PROTOC_VERSION}-linux-x86_64.zip"
      - run: SKIP_WASM_BUILD=1 env -u RUSTFLAGS cargo clippy --features try-runtime,runtime-benchmarks --locked
        env:
          RUSTFLAGS: -D warnings

  check-ts-fmt:
    name: "Check format with biome"
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflow-templates/setup-pnpm
      - run: pnpm install
      - run: pnpm fmt

  check-ts-lint:
    name: "Check lint with biome"
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflow-templates/setup-pnpm
      - run: pnpm install
      - run: pnpm lint

  typecheck-ts:
    name: "Typecheck with tsc"
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflow-templates/setup-pnpm
      - run: pnpm install
      - run: |
          cd test
          pnpm typecheck
