[package]
name = "shp-forest-verifier"
description = "An implementation of CommitmentVerifier trait for verifying keys in a Merkle Patricia Forest, in which responses to challenges are either the exact key or the next and previous keys in the trie."
version = "0.3.3"
homepage = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { workspace = true }
scale-info = { workspace = true }

# Local
shp-traits = { workspace = true }

# Substrate
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }
sp-trie = { workspace = true }

trie-db = { workspace = true }

frame-support = { workspace = true }

[dev-dependencies]
bincode = { workspace = true }
serde = { workspace = true }

# Substrate
sp-io = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"shp-traits/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
std = [
	"codec/std",
	"frame-support/std",
	"scale-info/std",
	"shp-traits/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-trie/std",
	"trie-db/std",
]
try-runtime = [
	"frame-support/try-runtime",
	"shp-traits/try-runtime",
	"sp-runtime/try-runtime",
]
